{
  "openapi": "3.0.0",
  "info": {
    "title": "Data API",
    "description": "API to manage a Google Spreadsheet as a database via API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://data.yafb.net/api",
      "description": "Official API server"
    }
  ],
  "paths": {
    "/list": {
      "get": {
        "summary": "Retrieve sheet data",
        "tags": ["Data"],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [{ "DEPLOYMENT_ID": [] }]
      }
    },
    "/insert": {
      "post": {
        "summary": "Insert a new record",
        "tags": ["Data"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sheet": { "type": "string", "description": "Sheet name" },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data to insert"
                  }
                },
                "required": ["sheet", "data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record inserted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [{ "DEPLOYMENT_ID": [] }]
      }
    },
    "/update": {
      "post": {
        "summary": "Update an existing record",
        "tags": ["Data"],
        "parameters": [
          {
            "name": "match",
            "in": "query",
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sheet": { "type": "string", "description": "Sheet name" },
                  "row": { "type": "integer", "description": "Row number to update" },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data to update"
                  }
                },
                "required": ["sheet", "row", "data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        },
        "security": [{ "DEPLOYMENT_ID": [] }]
      }
    },
    "/delete": {
      "post": {
        "summary": "Delete a record",
        "tags": ["Data"],
        "parameters": [
          {
            "name": "match",
            "in": "query",
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sheet": { "type": "string", "description": "Sheet name" },
                  "row": { "type": "integer", "description": "Row number to delete" }
                },
                "required": ["sheet", "row"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        },
        "security": [{ "DEPLOYMENT_ID": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "DEPLOYMENT_ID": {
        "type": "apiKey",
        "in": "header",
        "name": "secret",
        "description": "Secret Deployment ID to authenticate requests"
      }
    }
  }
}
